name: CI
on:
  push:
    branches:
      - '**'
    tags:
      - '**'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download packages
        run: go mod download

      - name: Build application
        run: make build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hexlet-path-size
          path: bin/hexlet-path-size

  run:
    name: Run
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: hexlet-path-size

      - name: Make binary executable
        run: chmod +x hexlet-path-size

      - name: Run application
        run: ./hexlet-path-size Makefile